.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

.idea/*
.notes
*/hidden
PL4-Serial-communications-and-RGB-leds/Serial-communications/exercise 3/_hidden/Week4_exercise3_arduino/Week4_exercise3_arduino.ino
PL4-Serial-communications-and-RGB-leds/Serial-communications/exercise 3/_hidden/week4_exercise3_p5/week4_exercise3_p5.pde
